header {
    padding-bottom: 0;
}

header h2 {
    font-family: 'Dancing Script', cursive;
    text-align: right;
    color: slategray;
}   

body {
    margin: 0 40px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif; 
}

h2 {
    font-family: Arial, Helvetica, sans-serif; 
}

h2.section {
    text-align: center;
    text-transform: uppercase;
    border-top: 2px dotted black;
    padding-top: 18px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif; 
}

p {
    font-family: Helvetica, sans-serif; 
}

.colors {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 0 20px;
    text-align: center;
    border-radius: 5px;
}

.colors div {
    padding: 20px 0;
}

.colors #cyan {
    background-color: hsl(160, 100%, 75%);
}

.colors #lightcyan {
    background-color: hsl(180, 100%, 94%);
}

.colors #slategray {
    background-color: hsl(210, 13%, 50%);
}

.hsl {
    opacity: 0.3;
}

.fonts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 20px;
}

#arial p, #arial h3{
    font-family: Arial, Helvetica, sans-serif; 
}

#helvetica p, #helvetica h3 {
    font-family: Helvetica, sans-serif; 
}

#dancing p, #dancing h3{
    font-family: 'Dancing Script', cursive;
}

.two {
    font-weight: bold;
}

.three {
    font-style: italic;
}

.text { 
    margin: 0 20px;
}

.font-family {
    opacity: 0.5;
}